body {
  margin: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
label {
  font-size: 18px;
  color: #111;
}
input {
  font-size: 18px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid #333;
  height: 30px;
}
input::placeholder {
  font-size: 14px;
  color: #555;
}
.btn {
  font-size: medium;
  height: 40px;
  width: 120px;
  color: black;
  background-color: orange;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.container {
  max-width: 600px;
  border-radius: 9px;
  padding: 20px 50px;
  border: 1px solid #999;
}
